{% load staticfiles %}

<div id="step" style="display:none">{{step}}</div>
<div id="sim_code" style="display:none">{{sim_code}}</div>
<div id="persona_name_list" style="display:none">{{persona_name_str}}</div>
<div id="persona_init_pos" style="display:none">
	{% for i in persona_init_pos %}
		<span>{{i.0}},{{i.1}},{{i.2}}</span>
	{% endfor %}
</div>

<script type="text/javascript">
	/*
	  Main resources: 
	  https://www.youtube.com/watch?v=cKIG1lKwLeo&t=401s&ab_channel=HongLy
	  For the ground zero code, see the exported files from here: 
	  https://codepen.io/mikewesthad/pen/BVeoYP?editors=1111 

	  Also worth taking a look: 
	  https://www.youtube.com/watch?v=fdXcD9X4NrQ&ab_channel=MorganPage
	  and 
	  https://www.youtube.com/watch?v=MR2CvWxOEsw&ab_channel=MattWilber
	 */


	// ###########################################################################
	// PREAMBLE
	// ###########################################################################

	// <step> -- one full loop around all three phases determined by <phase> is 
	// a step. We use this to link the steps in the backend. 
	let step = parseInt(document.getElementById('step').innerHTML);
	let sim_code = document.getElementById('sim_code').innerHTML;
	// let persona_names = document.getElementById('persona_name_list').innerHTML.split(",");

	let spans = document.getElementById('persona_init_pos').getElementsByTagName('span');
	let persona_names = {};
	for(var i = 0, l = spans.length; i < l; i++){
		let x = spans[i].innerText.split(",");
		persona_names[x[0]] = [parseInt(x[1]), parseInt(x[2])]
	}


	// Phaser 3.0 global settings. 
	// Configuration meant to be passed to the main Phaser game instance. 
	const config = {
	  type: Phaser.AUTO,
	  width: 1500,
	  height: 800,
	  parent: "game-container",
	  pixelArt: true,
	  physics: {
	    default: "arcade",
	    arcade: {
	      gravity: { y: 0 } } },
	  scene: {
	    preload: preload,
	    create: create,
	    update: update } };

	// const config = {
	//   type: Phaser.AUTO,
	//   width: 4480,
	//   height: 3200,
	//   parent: "game-container",
	//   pixelArt: true,
	//   physics: {
	//     default: "arcade",
	//     arcade: {
	//       gravity: { y: 0 } } },
	//   scene: {
	//     preload: preload,
	//     create: create,
	//     update: update },
	//   scale: {zoom: 0.5} };

	// Creating the game instance and setting up the main Phaser variables that  
	// will be used in it. 
	const game = new Phaser.Game(config);
	let cursors;
	let player;
	let showDebug = false;

	// Persona related variables. This should have the name of the persona as its 
	// keys, and the instances of the Persona class as the values.
	var spawn_tile_loc = {};
	// for (var i = 0; i < persona_names.length; i++) { 
	// 	spawn_tile_loc[persona_names[i]] = [0, 0]
	// }

	for (var key in persona_names){
		spawn_tile_loc[key] = persona_names[key] ;
	}
	console.log(spawn_tile_loc);

	var personas = {};
	var pronunciatios = {};
	let anims_direction;
	let pre_anims_direction;
	let pre_anims_direction_dict = {};

	let curr_maze = "barangay_mabuhay";

	// <tile_width> is the width of one individual tile (tiles are square)
	let tile_width = 32;
	// Important: tile_width % movement_speed has to be 0.
	// <movement_speed> determines how fast we move at each upate cycle. 32 = a
	// full tile per frame (instant jump, no visible walk); 8 = glide over 4
	// frames so agents actually animate between tiles.
	let movement_speed = 6;

	// <timer_max> determines how frequently our update function will query the 
	// frontend server. If it's higher, we wait longer cycles. 
	let timer_max = 0;
	let timer = timer_max;
	// Guard: only ever one update_environment request in flight. Without this the
	// loop fires a POST every animation frame while waiting for a response; with
	// 500-agent movement files + single-threaded Django that floods the browser
	// with connections (net::ERR_INSUFFICIENT_RESOURCES).
	let update_inflight = false;

	// <phase> -- there are three phases: "process," "update," and "execute."
	let phase = "update"; // or "update" or "execute"

	// Variables for storing movements that are sent from the backend server.
	let execute_movement = {{ init_movement|safe }};
	let execute_count_max = tile_width/movement_speed;
	let execute_count = execute_count_max;
	let movement_target = {};
	

	// ###########################################################################
	// ENGINE
	// ###########################################################################

	// Joon: Phaser 3.0 is oriented around "scenes" -- recall how Pokemon plays: 
	//       there is the outdoor space, and then there is the indoor space; when
	//       you go inside, you transition to a new "scene" and the outdoor space
	//       basically disappears. 
	//       A scene in Phaser has four key methods that are called at different
	//       stages of rendering for different purposes. They are: 
	//       init() -> preload() -> create() -> update()
	//         init() is called only once at the very beginning. This is the 
	//           initialization function in case that is needed. 
	//         preload() is called once and preloads any of the assets
	//         create() is also called once after preloading... creates sprites 
	//           and actually displays stuff
	//         update() is called on each frame during the game play 

	function preload() {  
	  // Loading the necessary images (e.g., the background image, character 
	  // sprites). 

	  // Joon: for load.image, the first parameter is simply the key value that
	  //       you are passing in. The second parameter should be pointed to the
	  //       png file that contains the tileset. 
	  //       Also IMPORTANT: when you create a tileset in Tiled, always be  
	  //       sure to check the "embedded" option. 
	  this.load.image("Ground", "{% static 'assets/barangay_mabuhay/visuals/tilesets/Ground.png' %}");
	  this.load.image("Village", "{% static 'assets/barangay_mabuhay/visuals/tilesets/Village.png' %}");
	  this.load.image("Water", "{% static 'assets/barangay_mabuhay/visuals/tilesets/Water.png' %}");
	  this.load.image("Room_Builder", "{% static 'assets/barangay_mabuhay/visuals/tilesets/Room_Builder.png' %}");
	  this.load.image("Harbour", "{% static 'assets/barangay_mabuhay/visuals/tilesets/Harbour.png' %}");
	  this.load.image("interiors_pt4", "{% static 'assets/barangay_mabuhay/visuals/tilesets/interiors_pt4.png' %}");
	  this.load.image("interiors_pt1", "{% static 'assets/barangay_mabuhay/visuals/tilesets/interiors_pt1.png' %}");
	  this.load.image("interiors_pt2", "{% static 'assets/barangay_mabuhay/visuals/tilesets/interiors_pt2.png' %}");
	  this.load.image("interiors_pt3", "{% static 'assets/barangay_mabuhay/visuals/tilesets/interiors_pt3.png' %}");
	  this.load.image("interiors_pt5", "{% static 'assets/barangay_mabuhay/visuals/tilesets/interiors_pt5.png' %}");
	  this.load.image("Caves", "{% static 'assets/barangay_mabuhay/visuals/tilesets/Caves.png' %}");
	  this.load.image("Construction", "{% static 'assets/barangay_mabuhay/visuals/tilesets/Construction.png' %}");
	  this.load.image("Small_Houses_1", "{% static 'assets/barangay_mabuhay/visuals/tilesets/Small_Houses_1.png' %}");
	  this.load.image("Small_Houses_2", "{% static 'assets/barangay_mabuhay/visuals/tilesets/Small_Houses_2.png' %}");
	  this.load.image("Forest", "{% static 'assets/barangay_mabuhay/visuals/tilesets/Forest.png' %}");
	  this.load.image("blocks_1", "{% static 'assets/barangay_mabuhay/visuals/tilesets/blocks_1.png' %}");
	  this.load.image("blocks_2", "{% static 'assets/barangay_mabuhay/visuals/tilesets/blocks_2.png' %}");
	  this.load.image("blocks_3", "{% static 'assets/barangay_mabuhay/visuals/tilesets/blocks_3.png' %}");
	  this.load.image("Field", "{% static 'assets/barangay_mabuhay/visuals/tilesets/Field.png' %}");

	  // Joon: This is the export json file you get from Tiled.
	  this.load.tilemapTiledJSON("map", "{% static 'assets/barangay_mabuhay/visuals/barangay_mabuhay_visual.json' %}");

	  // An atlas is a way to pack multiple images together into one texture. I'm 
	  // using it to load all the player animations (walking left, walking right, 
	  // etc.) in one image. For more info see:
	  // https://labs.phaser.io/view.html?src=src/animation/texture%20atlas%20animation.js
	  // If you don't use an atlas, you can do the same thing with a spritesheet, 
	  // see: https://labs.phaser.io/view.html?src=src/animation/single%20sprite%20sheet.js
	  // Joon: Technically, I think this guy had the best tutorial for atlas: 
	  //       https://www.youtube.com/watch?v=fdXcD9X4NrQ&ab_channel=MorganPage
	  // Local copy of the misa character atlas (was an external GitHub CDN URL,
	  // which the browser can't always reach — breaking sprite creation).
	  this.load.atlas("atlas",
	                  "{% static 'assets/characters/misa_atlas/atlas.png' %}",
	                  "{% static 'assets/characters/misa_atlas/atlas.json' %}");
	}

	function create() {  
	  const map = this.make.tilemap({ key: "map" });
	  // Joon: Logging map is really helpful for debugging here: 
	  //       console.log(map);

	  // The first parameter is the name you gave to the tileset in Tiled and then
	  // the key of the tileset image in Phaser's cache (i.e. the name you used in
	  // preload)
	  // Joon: for the first parameter here, really take a look at the 
	  //       console.log(map) output. You need to make sure that the name 
	  //       matches.
	  const Ground = map.addTilesetImage("Ground", "Ground");
	  const Village = map.addTilesetImage("Village", "Village");
	  const Water = map.addTilesetImage("Water", "Water");
	  const Room_Builder = map.addTilesetImage("Room_Builder", "Room_Builder");
	  const Harbour = map.addTilesetImage("Harbour", "Harbour");
	  const interiors_pt4 = map.addTilesetImage("interiors_pt4", "interiors_pt4");
	  const interiors_pt1 = map.addTilesetImage("interiors_pt1", "interiors_pt1");
	  const interiors_pt2 = map.addTilesetImage("interiors_pt2", "interiors_pt2");
	  const interiors_pt3 = map.addTilesetImage("interiors_pt3", "interiors_pt3");
	  const interiors_pt5 = map.addTilesetImage("interiors_pt5", "interiors_pt5");
	  const Caves = map.addTilesetImage("Caves", "Caves");
	  const Construction = map.addTilesetImage("Construction", "Construction");
	  const Small_Houses_1 = map.addTilesetImage("Small_Houses 1", "Small_Houses_1");
	  const Small_Houses_2 = map.addTilesetImage("Small_Houses 2", "Small_Houses_2");
	  const Forest = map.addTilesetImage("Forest", "Forest");
	  const blocks_1 = map.addTilesetImage("blocks_1", "blocks_1");
	  const blocks_2 = map.addTilesetImage("blocks_2", "blocks_2");
	  const blocks_3 = map.addTilesetImage("blocks_3", "blocks_3");
	  const Field = map.addTilesetImage("Field", "Field");

	  // The first parameter is the layer name (or index) taken from Tiled, the 
	  // second parameter is the tileset you set above, and the final two 
	  // parameters are the x, y coordinate. 
	  // Joon: The "layer name" that comes as the first parameter value  
	  //       literally is taken from our Tiled layer name. So to find out what
	  //       they are; you actually need to open up tiled and see how you 
	  //       named things there. 
	  // All Barangay Mabuhay (dynasty_vilage) art tilesets — used by every layer.
	  let all_ts = [Ground, Village, Water, Room_Builder, Harbour,
	                interiors_pt4, interiors_pt1, interiors_pt2, interiors_pt3, interiors_pt5,
	                Caves, Construction, Small_Houses_1, Small_Houses_2, Forest,
	                blocks_1, blocks_2, blocks_3, Field];
	  // Layer names match the dynasty_vilage.tmx visual layers exactly.
	  const bottomGroundLayer = map.createLayer("Bottom Ground", all_ts, 0, 0);
	  const externalGroundLayer = map.createLayer("External Ground", all_ts, 0, 0);
	  const exteriorDecoration1Layer = map.createLayer("Exterior Decoration 1", all_ts, 0, 0);
	  const exteriorDecoration2Layer = map.createLayer("Exterior Decoration 2", all_ts, 0, 0);
	  const moreForest1Layer = map.createLayer("More Forest 1", all_ts, 0, 0);
	  const moreForest2Layer = map.createLayer("More Forest 2", all_ts, 0, 0);
	  const flooringLayer = map.createLayer("Flooring", all_ts, 0, 0);
	  const wallsLayer = map.createLayer("Walls", all_ts, 0, 0);
	  const interior1Layer = map.createLayer("Interior 1", all_ts, 0, 0);
	  const interior2Layer = map.createLayer("Interior 2", all_ts, 0, 0);
	  const foreground1Layer = map.createLayer("Foreground 1", all_ts, 0, 0);
	  const foreground2Layer = map.createLayer("Foreground 2", all_ts, 0, 0);
	  if (foreground1Layer) foreground1Layer.setDepth(2);
	  if (foreground2Layer) foreground2Layer.setDepth(2);

	  // *** SET UP CAMERA *** 
	  // "player" is to be set as the center of mass for our "camera." We 
	  // basically create a game character sprite as we would for our personas 
	  // but we move it to depth -1 and let it pass through the collision map;  
	  // that is, do not have the following line: 
	  // this.physics.add.collider(player, collisionsLayer);
	  // OLD NOTE: Create a sprite with physics enabled via the physics system. 
	  // The image  used for the sprite has a bit of whitespace, so I'm using 
	  // setSize & setOffset to control the size of the player's body.
	  // Camera start centred on the populated barangay sectors (agents spawn at
	  // pixel y ~3900-7200 on this 390x280 map; the old 800,288 corner was empty).
	  player = this.physics.add.
	                sprite(2912, 3648, "atlas", "misa-front").
	                setSize(30, 40).
	                setOffset(0, 0);
	  player.setDepth(-1);
	  // Setting up the camera.
	  const camera = this.cameras.main;
	  camera.startFollow(player);
	  camera.setBounds(0, 0, map.widthInPixels, map.heightInPixels);
	  cursors = this.input.keyboard.createCursorKeys();

	  // Mousewheel zoom: scroll up = zoom in, scroll down = zoom out (0.2x – 3x).
	  this.input.on("wheel", function(pointer, gameObjects, deltaX, deltaY) {
	    const cam = this.cameras.main;
	    const newZoom = Phaser.Math.Clamp(cam.zoom - deltaY * 0.001, 0.2, 3);
	    cam.setZoom(newZoom);
	  }, this);

	  // *** SET UP PERSONAS *** 
	  // We start by creating the game sprite objects. 
	  for (let i=0; i<Object.keys(spawn_tile_loc).length; i++) { 
	    let persona_name = Object.keys(spawn_tile_loc)[i];
	    let start_pos = [spawn_tile_loc[persona_name][0] * tile_width + tile_width / 2, 
	                     spawn_tile_loc[persona_name][1] * tile_width + tile_width];
	    let new_sprite = this.physics.add
	                         .sprite(start_pos[0], start_pos[1], "atlas", "misa-front")
	                         .setSize(30, 40)
	                         .setOffset(0, 32); // DEBUG 1 --- I added 32 offset on Dec 29. 
	    // Here, we are creating the persona and its pronunciatio sprites.
	    personas[persona_name] = new_sprite;
	    pronunciatios[persona_name] = this.add.text(
	                                   new_sprite.body.x - 6, 
	                                   new_sprite.body.y - 42 - 32, // DEBUG 1 --- I added 32 offset on Dec 29. 
	                                   "🦁", {
	                                   font: "28px monospace", 
	                                   fill: "#000000", 
	                                   padding: { x: 8, y: 8}, 
	                                   backgroundColor: "#ffffff",
	                                   border:"solid",
	                                   borderRadius:"10px"}).setDepth(3);
	  }

	  // Create the player's walking animations from the texture atlas. These are
	  // stored in the global animation manager so any sprite can access them.
	  const anims = this.anims;
	  anims.create({
	    key: "misa-left-walk",
	    frames: anims.generateFrameNames("atlas", { prefix: "misa-left-walk.", start: 0, end: 3, zeroPad: 3 }),
	    frameRate: 4,
	    repeat: -1 });

	  anims.create({
	    key: "misa-right-walk",
	    frames: anims.generateFrameNames("atlas", { prefix: "misa-right-walk.", start: 0, end: 3, zeroPad: 3 }),
	    frameRate: 4,
	    repeat: -1 });

	  anims.create({
	    key: "misa-front-walk",
	    frames: anims.generateFrameNames("atlas", { prefix: "misa-front-walk.", start: 0, end: 3, zeroPad: 3 }),
	    frameRate: 4,
	    repeat: -1 });

	  anims.create({
	    key: "misa-back-walk",
	    frames: anims.generateFrameNames("atlas", { prefix: "misa-back-walk.", start: 0, end: 3, zeroPad: 3 }),
	    frameRate: 4,
	    repeat: -1 });
	}


	function update(time, delta) {
		// *** SETUP PLAY AND PAUSE BUTTON *** 
		let play_context = this;
		function game_resume() {  
			play_context.scene.resume();
		}  
		play_button.onclick = function(){
			game_resume();
		};
		function game_pause() {  
			play_context.scene.pause();
		}  
		pause_button.onclick = function(){
			game_pause();
		};

	  // *** MOVE CAMERA *** 
	  // This is where we finish up the camera setting we started in the create() 
	  // function. We set the movement speed of the camera and wire up the keys to
	  // map to the actual movement.
	  const camera_speed = 400;
	  // Stop any previous movement from the last frame
	  player.body.setVelocity(0);
	  if (cursors.left.isDown) {
	    player.body.setVelocityX(-camera_speed);
	  } 
	  if (cursors.right.isDown) {
	    player.body.setVelocityX(camera_speed);
	  } 
	  if (cursors.up.isDown) {
	    player.body.setVelocityY(-camera_speed);
	  } 
	  if (cursors.down.isDown) {
	    player.body.setVelocityY(camera_speed);
	  }

	  // console.log("phase: " + phase + ", step: " + step);
	  // *** MOVE PERSONAS ***
	  // Moving personas take place in three distinct phases: "process," "update,"
	  // and "execute." These phases are determined by the value of <phase>. 
	  // Only one of the three phases is incurred in each update cycle. 
	  if (phase == "process") {
    // VIEW-ONLY: headless_env.py is the sole environment driver. The browser
    // must NOT write environment files here, or it overwrites headless_env and
    // freezes every agent at its sprite tile. Skip straight to polling movement.
    phase = "update";
  } 

	  else if (phase == "update") { 
	    // Update is where we * wait * for the backend server to finish 
	    // computing about what the personas will do next given their current 
	    // situation. 
	    // We do this by continuously asking the backend server if it is ready. 
	    // The backend server is ready when it returns a json that has a key-val
	    // pair with "<move>": true.
	    // Note that we do not want to overburden the backend too much by 
	    // over-querying; so, we have a timer set so we only query it once every
	    // timer_max cycles. 
	    if (timer <= 0 && !update_inflight) {
	      update_inflight = true;
	      var update_xobj = new XMLHttpRequest();
	      update_xobj.overrideMimeType("application/json");
	      update_xobj.open('POST', "{% url 'update_environment' %}", true);
	      update_xobj.addEventListener("load", function() {
	        update_inflight = false;
	        if (this.readyState === 4) {
	          if (update_xobj.status === 200) {
	            if (JSON.parse(update_xobj.responseText)["<step>"] == step) {
	              execute_movement = JSON.parse(update_xobj.responseText)
	              phase = "execute";
	            }
	            timer = timer_max;
	          }
	        }
	      });
	      update_xobj.addEventListener("error", function() { update_inflight = false; });
	      update_xobj.addEventListener("abort", function() { update_inflight = false; });
	      update_xobj.send(JSON.stringify({"step": step, "sim_code": sim_code }));
	    }
	    timer = timer - 1;
	  } 

	  else { 
	    // This is where we actually move the personas in the visual world. Each
	    // backend computation in execute_movement moves each persona by one tile
	    // (or some personas might not move if they choose not to). 
	    // The execute_count_max is computed by tile_width/movement_speed, which
	    // defines a one step sequence in this world. 
    document.getElementById("game-time-content").innerHTML = execute_movement["meta"]["curr_time"];

    // On the first frame of a new step (execute_count re-armed to execute_count_max)
    // we latch each persona's destination tile and fill the action/chat panels.
    // Then we glide every sprite ALL THE WAY to its tile and only advance to the
    // next step once everyone has arrived. At 1 sim-hour/step a persona's whole
    // walk collapses into one backend step, so without full-distance gliding the
    // sprite would hop one tile and snap the rest -- the "teleport" look. Gliding
    // plus a small movement_speed keeps it smooth and watchable.
    if (execute_count == execute_count_max) {
      for (let i=0; i<Object.keys(personas).length; i++) {
        let curr_persona_name = Object.keys(personas)[i];
        let curr_persona = personas[curr_persona_name];
        if (!(curr_persona_name in movement_target)) {
          movement_target[curr_persona_name] = [curr_persona.body.x, curr_persona.body.y];
        }
        if (!execute_movement["persona"][curr_persona_name]) continue;
        let curr_x = execute_movement["persona"][curr_persona_name]["movement"][0];
        let curr_y = execute_movement["persona"][curr_persona_name]["movement"][1];
        movement_target[curr_persona_name] = [curr_x * tile_width, curr_y * tile_width];

        let pronunciatio_content = execute_movement["persona"][curr_persona_name]["pronunciatio"];
        let rgx = new RegExp(/(\p{L}{1})\p{L}+/, 'gu');
        let initials = [...curr_persona_name.matchAll(rgx)] || [];
        initials = ((initials.shift()?.[1] || '') + (initials.pop()?.[1] || '')).toUpperCase();
        pronunciatios[curr_persona_name].setText(initials + ": " + pronunciatio_content);

        let curr_persona_name_os = curr_persona_name.replace(/ /g,"_");
        let description_content = execute_movement["persona"][curr_persona_name]["description"];
        let chat_content = "";
        if (execute_movement["persona"][curr_persona_name]["chat"] != null) {
          for (let j=0; j<execute_movement["persona"][curr_persona_name]["chat"].length; j++) {
            chat_content += execute_movement["persona"][curr_persona_name]["chat"][j][0] + ": " + execute_movement["persona"][curr_persona_name]["chat"][j][1] + "<br>";
          }
        } else {
          chat_content = "<em>None at the moment</em>";
        }
        document.getElementById("current_action__"+curr_persona_name_os).innerHTML = description_content.split("@")[0];
        document.getElementById("target_address__"+curr_persona_name_os).innerHTML = description_content.split("@")[1];
        document.getElementById("chat__"+curr_persona_name_os).innerHTML = chat_content;
      }
      execute_count = 1;  // leave the "first frame" state; now glide until arrival
    }

    // Glide every persona toward its latched target, one axis per frame, clamped
    // so we land exactly on the tile (no overshoot). Track if anyone still moves.
    let any_moving = false;
    for (let i=0; i<Object.keys(personas).length; i++) {
      let curr_persona_name = Object.keys(personas)[i];
      let curr_persona = personas[curr_persona_name];
      let curr_pronunciatio = pronunciatios[curr_persona_name];
      if (!(curr_persona_name in movement_target)) {
        movement_target[curr_persona_name] = [curr_persona.body.x, curr_persona.body.y];
      }
      let tx = movement_target[curr_persona_name][0];
      let ty = movement_target[curr_persona_name][1];
      let anims_direction = "";

      if (curr_persona.body.x < tx) {
        curr_persona.body.x = Math.min(curr_persona.body.x + movement_speed, tx);
        anims_direction = "r"; pre_anims_direction_dict[curr_persona_name] = "r"; any_moving = true;
      } else if (curr_persona.body.x > tx) {
        curr_persona.body.x = Math.max(curr_persona.body.x - movement_speed, tx);
        anims_direction = "l"; pre_anims_direction_dict[curr_persona_name] = "l"; any_moving = true;
      } else if (curr_persona.body.y < ty) {
        curr_persona.body.y = Math.min(curr_persona.body.y + movement_speed, ty);
        anims_direction = "d"; pre_anims_direction_dict[curr_persona_name] = "d"; any_moving = true;
      } else if (curr_persona.body.y > ty) {
        curr_persona.body.y = Math.max(curr_persona.body.y - movement_speed, ty);
        anims_direction = "u"; pre_anims_direction_dict[curr_persona_name] = "u"; any_moving = true;
      }

      curr_pronunciatio.x = curr_persona.body.x - 6;
      curr_pronunciatio.y = curr_persona.body.y - 42 - 32;

      if (anims_direction == "l") { curr_persona.anims.play("misa-left-walk", true); }
      else if (anims_direction == "r") { curr_persona.anims.play("misa-right-walk", true); }
      else if (anims_direction == "u") { curr_persona.anims.play("misa-back-walk", true); }
      else if (anims_direction == "d") { curr_persona.anims.play("misa-front-walk", true); }
      else {
        curr_persona.anims.stop();
        if (pre_anims_direction_dict[curr_persona_name] == "l") curr_persona.setTexture("atlas", "misa-left"); else
        if (pre_anims_direction_dict[curr_persona_name] == "r") curr_persona.setTexture("atlas", "misa-right"); else
        if (pre_anims_direction_dict[curr_persona_name] == "u") curr_persona.setTexture("atlas", "misa-back"); else
        if (pre_anims_direction_dict[curr_persona_name] == "d") curr_persona.setTexture("atlas", "misa-front");
      }
    }

    // Everyone reached their tile -> hand back to the (view-only) process phase,
    // which polls the next step's movement file.
    if (!any_moving) {
      phase = "process";
      step = step + 1;
      execute_count = execute_count_max;  // re-arm "first frame" for the next step
    }
	  }
	}

	// Control button binders
	var play_button=document.getElementById("play_button");
	var pause_button=document.getElementById("pause_button");
</script>







